$avatar-dim: 96px;
$space-between: 40px;
.menu {
    background-image: linear-gradient(141deg, $aside-bg-color 0%, $base-blue-color 45%, $aside-bg-color 80%);
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    float: left;
    width: 250px;
    &-top {
        box-sizing: border-box;
        height: 100%;
        flex-grow: 1;
    }

    .profile{ 
        margin-top: $space-between;
        p {
            margin: 6px
        }
        text-align: center;
        .avatar {
            justify-content: center!important;
            display: flex;
            a {
                display: block;
                width: $avatar-dim;
                height: $avatar-dim;
                border-radius: 50%;
                border: 2px solid $border-dark;
                overflow: hidden;
            }
            img {
                height: $avatar-dim;
                width: $avatar-dim;
            }
        }
    }
    ul {
        padding-left: 0px;
        li {
            display: flex;
            height: 50px;
            justify-content:center;
            a {
                align-items:center;
                color:rgb(252, 252, 252);
                cursor:pointer;
                display:flex;
                font-weight:600;
                justify-content:center;
                letter-spacing:1px;
                line-height:28px;
                text-decoration-line:none;
            }
        }
    }
    &-contact {
        display:flex;
        justify-content:center;
        margin-bottom: $space-between;
        a {
            color:rgba(255, 255, 255, 0.5);
            cursor:pointer;
            text-align:left;
            text-decoration-line:none;
            text-size-adjust:100%;
            user-select:none;
            width:18px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}