$avatar-dim: 96px;
$space-between: 40px;
.menu {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;

    &-top {

    }

    .profile{ 
        margin-top: $space-between;
        p {
            margin: 6px
        }
        text-align: center;
        .avatar {
            -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
            justify-content: center!important;
            display: flex;
            a {
                display: block;
                width: $avatar-dim;
                height: $avatar-dim;
                border-radius: 50%;
                border: 2px solid $border-dark;
                overflow: hidden;
                transform: translateZ(0);
                -webkit-transition: border-color 0.35s ease-in-out;
                -moz-transition: border-color 0.35s ease-in-out;
                transition: border-color 0.35s ease-in-out;
            }
            img {
                height: $avatar-dim;
                width: $avatar-dim;
            }
        }
    }
    ul {
        box-sizing:border-box;
        color:rgb(51, 51, 51);
        font-size:16px;
        font-weight:400;
        padding-inline-start:0px;
        padding-left:0px;
        li {
            box-sizing:border-box;
            color:rgb(51, 51, 51);
            display:flex;
            font-size:16px;
            font-weight:400;
            height:52.7969px;
            justify-content:center;
            line-height:28px;
            a {
                align-items:center;
                color:rgb(252, 252, 252);
                cursor:pointer;
                display:flex;
                font-weight:600;
                justify-content:center;
                letter-spacing:1px;
                line-height:28px;
                margin-bottom:0px;
                margin-left:4px;
                margin-right:4px;
                padding-bottom:8px;
                padding-left:16px;
                padding-right:16px;
                padding-top:8px;
                text-decoration-line:none;
            }
        }
    }
    &-contact {
        box-sizing:border-box;
        color:rgb(51, 51, 51);
        display:flex;
        flex-wrap:wrap;
        font-family:"Source Sans Pro", "Microsoft Yahei", sans-serif;
        font-size:19.2px;
        font-weight:400;
        height:36px;
        justify-content:space-around;
        line-height:28px;
        margin-bottom:25.6px;
        margin-left:24px;
        margin-right:24px;
        margin-top:24px;
        text-align:left;
        text-size-adjust:100%;
        width:162px;
        -webkit-box-direction:normal;
        -webkit-font-smoothing:antialiased;
        -webkit-tap-highlight-color:black;
        a {
            background-color:rgba(0, 0, 0, 0);
            box-sizing:border-box;
            color:rgba(255, 255, 255, 0.5);
            cursor:pointer;
            display:block;
            font-family:"Source Sans Pro", "Microsoft Yahei", sans-serif;
            font-size:19.2px;
            font-weight:400;
            height:28px;
            line-height:28px;
            margin-bottom:8px;
            margin-left:1.6px;
            margin-right:4px;
            margin-top:0px;
            text-align:left;
            text-decoration-color:rgba(255, 255, 255, 0.5);
            text-decoration-line:none;
            text-decoration-style:solid;
            text-size-adjust:100%;
            transition-delay:0s;
            transition-duration:0.35s;
            transition-property:color;
            transition-timing-function:ease-in-out;
            user-select:none;
            width:18px;
            -webkit-box-direction:normal;
            -webkit-font-smoothing:antialiased;
            -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

        }
    }
}